<div class="message">
    <video
    class="video"
    src="../../../assets/grass.mp4"
    autoplay
    muted
    loop
    ></video>
      <div class="grid">
        <div class="col-10 offset-1 message-text">
          
          <h2>One planet for people and nature</h2>
          <h4>Nature is something that surrounds us. Reduce, reuse and recycle are the 3 best ways to conserve natural resources provided by nature. Our natural environment is something priceless and cannot be recreated so we must save for our future generation. Nature is not something that belongs to one, it is something that belongs to all, so every individual must take care of it. And one should never forget how much we depend on nature.</h4>
          <h4>Understanding the importance of nature can help us to help nature. We as students should come together and should plant more trees instead of cutting it. We should also save water and don’t wastewater. More awareness should be spread among the people through rallies, posters, and placards.</h4>
          
          <div class="button-div">
          <p-button
          styleClass="mt-4 banner-button"
          icon="pi pi-chevron-left"
          label="Back"
          iconPos="left"
          (onClick)="onBackClick()"
          ></p-button>
        </div>
        </div>
      </div>
    </div>
  