.banner {
    height:280px;
    width:100%;
    background-color: rgb(0, 139, 134);
    border-radius: 15px;


    &-text {

        color: var(--surface-700);
        margin-top: 50px;
        margin-left: 50px;

        h1 {
            margin:0;
            font-size: 3em;
            font-weight: 400;
        } 
        h2 {
            margin:0;
            font-size: 2em;
            font-weight: 300;
        }
     
    }

    &-image {
        text-align: right;
        padding: 15px 50px 0 0; 
    }

}

.banner-button {
    background-color: var(--surface-0);
    color: red;
    border: 0;
    border-radius: 10px;
    height: 50px;

    &:enabled:hover {
        background-color: var(--surface-0);
        color: red;
        border: 0;
    }

}