.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 250px;
  width: 100%;
  border-radius: 15px;

  &-text {
    position: absolute;
    color: $color-1;
    margin-top: 40px;
    margin-left: 50px;
    opacity: 1;

    h1 {
      margin: 0;
      font-size: 3em;
      font-weight: 600;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      font-weight: 400;
    }
  }
}

.banner-button {
  
  opacity: 0.9;
  background-color: rgba(139, 155, 116, 0.8);
  color: white;
  border: 0;
  border-radius: 10px;
  height: 50px;
  font-size: large;
  font-weight: 500;

  &:enabled:hover {
    opacity: 1;
    background-color: rgba(139, 155, 116, 1);
    color: white;
    border: 0;
  }
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &::-webkit-media-controls {
    display: none !important;
  }
}
