.categories-banner {
  margin-top: 40px;
  
  .category {
    min-height: 80px;
    border-radius: 14px;
    text-align: center;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      border-color:black ;
    }

    &-name {
      font-weight: 700;
      font-size: 1.2em;
      color: white;
    }
  }
}
