footer {
  color: $color-3;
  background-color: rgba(0, 0, 0, 0.05);
  border-color: $color-1;
  border-style: none;
  border-width: 3px;
  border-radius: 15px;
  min-height: 40px;
  padding: 10px 25px;
  width: 100%;
  margin-top: 25px;


  .footer-wrapper {
    // align-items: center;

    .social {
      color: $color-3;
      margin-top: 0px;
      text-align: right;
      min-width: 120px;
     
    
    }
  }
}
