.product-item {
  &-wrapper {
 
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 370px;
    margin-top: 25px;
  }

  .image {
    width: 60%;
    margin-top: -15px;

    &:hover {
      cursor: pointer;
    }
  }

  .name {
    margin: 10px 0;
  }

  .price {
    color: $primary-color;
    font-size: 1.2em;
    margin: 0;
  }

  .add-to-cart {
    background-color: $primary-color;
    border: 0;
    border-radius: 15px;
    
    &:hover{
      background-color: $primary-color;
      opacity: 0.7;
    
    }
  }
}
