
.cat-banner {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 120px;
  width: 100%; 
  opacity:0.8;
  
  &-text {

    position: center;
    color: rgb(39, 25, 25);
    margin-top: 0;
    margin-left: 50px;
    opacity: 1;

    h1 {
      margin: 0;
      font-size: 3em;
      font-weight: 600;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      font-weight: 400;
    }
  }
}