<div class="contacts">
  <div class="grid">
    <div class="col-10 offset-1 contacts-text">
      <h2>Contacts</h2>
      <h4>Customer service: (+351) 919411805 Dr. Miguel Seca</h4>
      <h4>Sales representative: (+351) 919411805 Dr. Miguel Seca</h4>
      <h4>Customer service: (+351) 919411805 Dr. Miguel Seca</h4>
      <h4>Customer service: (+351) 919411805 Dr. Miguel Seca</h4>
      <h4></h4>

      <p-button
        styleClass="mt-4 contacts-button"
        icon="pi pi-chevron-left"
        label="Back"
        iconPos="left"
        (onClick)="onBackClick()"
      ></p-button>
    </div>
  </div>
</div>
