<div class="banner hidden-xs">
  <video
    class="video"
    src="../../../assets/banner.webm"
    autoplay
    muted
    loop
    ></video>
    <div class="grid">
      <div class="col-10 offset-1 banner-text">
        <h1>Nature first</h1>
        <h2>Eco-Friendly & Sustainable Sports</h2>
        <p-button
        styleClass="mt-4 banner-button"
        label="Our message"
        icon="pi pi-chevron-right"
        iconPos="right"
        (onClick)="onMessageClick()"
        ></p-button>
      </div>
    </div>
  </div>
