<div class="banner">
    <div class="grid">
      <div class="col-5 offset-1 banner-text">
        <h1>The best Products</h1>
        <h2>In every category</h2>
        <p-button
          styleClass="mt-4 banner-button"
          label="See more"
          icon="pi pi-chevron-right"
          iconPos="right"
        ></p-button>
      </div>
      <div class="col-5 banner-image animate__animated animate__slideInLeft">
        <img src="/src/assets/banner-image.svg" alt="" />
      </div>
    </div>
  </div>
  