
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="center" key="c" (onClose)="onCancel()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="flex flex-column" style="flex: 1">
          <div class="text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
          <div class="grid p-fluid">
              <div class="col-6">
                  <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
              </div>
              <div class="col-6">
                  <button type="button" pButton (click)="onCancel()" label="No" class="p-button-secondary"></button>
              </div>
          </div>
      </div>
  </ng-template>
</p-toast>



<div class="product-item" *ngIf="product">
    <div class="product-item-wrapper">
      <img [routerLink]="'/product/' + product.id" [src]="product.image" class="image" alt="" />
      
      <h4 class="name">{{ product.name }}</h4>
      <h5 class="price">{{ product.price | currency }}</h5>
      <p-button
        styleClass="mt-3 add-to-cart"
        label="Add to cart"
        icon="pi pi-shopping-cart"
        (onClick)="addToCart()"
      ></p-button>
    </div>
  </div>
  